html, body {
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}

canvas {
  display: block;
  z-index: -1;
}

h1{
  text-align: center;
}

table{
  position: absolute;
  width:100%;
}

td {
    z-index: 1;
    width: 50%;
    left-margin:0%;
    top-margin: 0%;
    font-size: 20px;
    text-align:center;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container{
  position: relative;
}

.project {
  position: absolute;
  width:50%
  float: left;

  left: 0px;
  top: 0px;
  z-index: 1;
}
